<ion-header>
  <ion-text>{{email}}</ion-text>
  <ion-button (click)="logout()">Logout</ion-button>
</ion-header>
<ion-content>
  <ion-list>
    @for (item of pokemons; track item; let index = $index) {
    <ion-item>
      <card [pokemon]="item" [isFavorite]="true" (favoriteEvent)="favoriteHandler($event)"></card>
    </ion-item>
    }
  </ion-list>
</ion-content>



<ion-toast [isOpen]="failedLogoutToastIsOpen" message="Failed on Logout. Please Try again later!" [duration]="1000"
  (didDismiss)="closeToast()" color="danger"></ion-toast>