<ion-header>
  <span *ngIf="isLogged; then user; else login"></span>
  <ng-template #login>
    <ion-button [routerLink]="['/login']">login</ion-button>
  </ng-template>
  <ng-template #user>
    <ion-avatar [routerLink]="['/user']">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </ng-template>
</ion-header>

<ion-content>
  <ion-list>
    @for (item of pokemons; track item; let index = $index) {
    <ion-button [routerLink]="['/pokemon', item.id]">

      <ion-item>
        <card [pokemon]="item"></card>
      </ion-item>

    </ion-button>
    }
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>